body {
    background-color: rgb(151, 151, 151);
}

#gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowContainer {
    display: flex;
}

.row {
    background-color: aqua;
    width: 100px;
    margin: 10px;
    /* float: right; */
}

.containerButton {
    background-color: white;
    /* float: right; */
}

#footerContainer {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 20px;
    /* background-color: lightgreen; */
}

#finishButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 1420px;
}

#finishButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    width: 300px;
    font-size: 30px;
}

#loadingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    width: 300px;
    font-size: 30px;
}

#unloadingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    width: 300px;
    font-size: 30px;
}